/*Premiere page (Login)*/
.form-signin {
    max-width: 330px;
    padding: 8px;
    margin: 3px auto;
    border: 2px solid green;
   -moz-border-radius: 10px;
    border-radius: 10px; 
	
}


/*Deuxieme page (Forme projet)*/
.form-note {
    max-width: 50%;
    .height: 100%;
    padding: 8px;
    margin: 4px auto;
    border: 3px solid black;
   -moz-border-radius: 10px;
    border-radius: 10px; 
	
}