<h1>Mes vidéos</h1>

<table>
  <thead>
    <tr>
      <th>Films</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.movie_id %></td>
        <td><%= link_to 'Voir', movie %></td>
        <td><%= link_to 'Editer', edit_movie_path(movie) %></td>
        <td><%= link_to 'Supprimer', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

